@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@font-face {
    font-family: 'silkaregular';
    src: url('silkafont/silka-regular-webfont.eot');
    src: url('silkafont/silka-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('silkafont/silka-regular-webfont.woff2') format('woff2'),
         url('silkafont/silka-regular-webfont.woff') format('woff'),
         url('silkafont/silka-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'silkaregular_italic';
    src: url('silkafont/silka-regularitalic-webfont.eot');
    src: url('silkafont/silka-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('silkafont/silka-regularitalic-webfont.woff2') format('woff2'),
         url('silkafont/silka-regularitalic-webfont.woff') format('woff'),
         url('silkafont/silka-regularitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
*{
  font-family: silkaregular,Helvetica Neue,Arial,Helvetica,Verdana,sans-serif
}
h1{
  font-weight: bolder;
}
body{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}
select {
	color: black;
	padding: 10px;
	border: none;
	background-color: aliceblue;
	cursor: pointer;
	width: 17em;
  font-size: 16px;
  font-weight: 300;
	border-left: 1px solid lightgray;
}

select:focus {
	box-shadow: 0 0 3pt 2pt #719ECE;
	outline: 0px;
  font-size: 16px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  font-weight: bolder;
}
.btn-flecha-lanzamientos{
    background-color: #243438;
    border-color: transparent;
    color:white;
}
.container {
	display: inline-flex;
	border-radius: 9px;
	background-color: aliceblue;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left:  3.8em;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	gap: 5px;
}
.container-lanzamientos{
  background-color: #243438;
  display: flex;
  align-items: center;
  color: white;
  align-self: center;
  border-radius: 1em;
  padding: 2em;
  margin-top: 1.5em;
  margin-left: 15em;
  margin-right: 15em;
}
.container-animacion-lanzamientos{
  display: flex;
  align-items: center;
  background-color: #f9fffe;

}
.container-comohacer-posible{
  color:black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-hausplus{
  display: flex;
  justify-content: space-between;
  width: 1300px;
  align-items: center;
  padding-top: 12em;
  padding-bottom: 12em;
  color: black;
  font-weight: 600;
}
.container-hausplus span {
    color:#3b82f6;
}
.container-hausplus button {
  border-radius: 1em;
  background-color: #2832db;
  color: white;
  border:none;
  font-size: 1em;
  font-weight: bold;
  padding: 1.5em 7em 1.5em 7em;
}
.container-titulo-guias{
  color:black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-titulo-guias p{
  color:#5b6866;
  font-size: 1.5em;
}
.container-tarjetascolores{
  display: flex;
  width: 1300px;
  justify-content: space-around;
  padding-top: 3em;
}
.container-tarjetascolores div{
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  width: 272px;
  justify-content: space-between;
}
.container-tarjetascolores span {
  color: black;
  padding: 1em;
  text-align: center;
}
.container-tarjetascolores img{
  position: relative;
  z-index: 100;
  max-width: 100%;
  height: auto;
  bottom: 0;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
.container-links{
  display: flex;
  color: black;
  align-items: center;
  padding-top: 7em;
  justify-content: space-around;
  width: 1200px;
}
.container-links-der{
  text-align: right;
}
.container-links-img{
  display: flex;
  justify-content: flex-end;
  gap:0.5em;
}
.container-direcciones{
  display: flex;
  justify-content: space-between;
  color: black;
}
.container-direcciones div{
  display: flex;
  flex-direction: column;
}
.container-enlaces-social{
  display: flex;
  justify-content: flex-start;
  gap:2em;
  padding-top: 1em;
  color:black;
}
.container-enlaces-finales{
  padding-top: 1.5em;
  color:black;
  font-size: small;
    line-height: 1px;
}

.tarjeta-azul{
  background-color: #71b5ff;
}
.tarjeta-turquesa{
  background-color: #00d1b0;
}
.tarjeta-amarilla{
  background-color: #ffe7b6;
}
.tarjeta-lila{
  background-color: #c0c7ff;
}
.cnt-lanz-anim-texto{
  color: #243438;
  margin-left: 20em;
  padding-top: 12em;
  padding-right: 30em;
  padding-bottom: 12em;
}
.cnt-lanz-animado{
  background-color: grey;
  color: #243438;
  border-radius: 5em;
  margin-left: 5%;
  padding-left: 2em;
  padding-right: 2em;
  margin-right: 20em;
  display: flex;

}
.font-family-silka {
    font-family: silkaregular,Helvetica Neue,Arial,Helvetica,Verdana,sans-serif;
    font-weight: bolder;
}
.footer{
  background-color: #3ecfaf;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;

}
.footer-content{
  max-width: 1440px;
  align-self:center;
}
.info-lanzamientos{
  background-color: white;
  color:black;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  padding: 0.5em;
}
.img-tarjeta-lanzamientos{
  width: inherit;
  height:285px;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;

}
.img-texto-lanzamientos{
  position: absolute;
  top: 17px;
  left: 50px;
}
.lanzamientos-izq{
  margin-right:5em;
  font-size: 1.3em;
  flex-shrink: 5;
  flex-grow: 1;
}
.lanzamientos-der{
  flex-grow: 5;
  flex-shrink:1;
}
.locaciones{
  display: flex;
  flex-direction: row;
  padding: 1em;
  flex-grow: 2;
}
.logo-enlace{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.navbar{
  background-color: white;
  display:flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.navbar-lanzamientos-der{
  color: white;
}
.rooms, .properties {
	width: 200px;
  margin-right: 0.5em;
	margin-left: 4.5em;
}

.rooms>div, .properties>div {
	position: relative;
	display: inline-block;
}

.rooms>div>select , .properties>div>select {
	display: block;
	padding: 15px 20px;
}
.slide-top {
	-webkit-animation: slide-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.tarjeta-lanzamientos{
  display: flex;
  flex-direction: column;
  width:390.36px;
  position:relative;
  margin: 0.5em;
}
.tarjetas-pos{
  display: flex;
  justify-content: space-around;
  gap:10px;

}
.tarjetas-pos div {
  text-align: center;
  width: 400px;
}
.tarjetas-pos h4 {
  text
}

.title{
  color: white;
  margin-top: 1.5em;
  font-size: 5em;
}
.text{
  color: black;
  font-size: 1em;
}


#banner{
  background-image: url("https://lahaus.imgix.net/static/lh-landing-v2/hero-2022/toma-sofa_dsk_COL_MX.jpg?auto=format");
  height: 550px;
  width: 100%;

  background-size: cover;
  text-align: center;
  vertical-align: middle;
}
#btn-publish-free{
  border-width: thin;
  border-radius: 0.4em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  border-color: blue;
  color: blue;
  background-color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1em;
}
#btn-publish-free:hover{
  font-weight: bolder;
}
#btn-oferta{
  border-radius: 0.5em;
  border-width: 0;
  font-weight: bolder;
  padding: 0.5em;
}
#corta{
  /* border: solid; */
  width: 30%;
  height: 3px;
  background-color: #243438;
  margin-left: 0%;
  margin-right: 50%
}
 #icon {
  padding-left: 0.25em;
	padding-top: 0.8em;
  color:grey;
}
#lanz-titulo{
  font-size: 2em;
  font-weight: bolder;
}
#search-input {
  font-size: 16px;
	padding: 10px;
	outline: none !important;
	border: none;
	width: 23em;
	background-color: aliceblue;
}
#search-btn {
  font-size: 16px;
	background-color: #404EED;
	color: white;
	border: none;
	border-radius: 9px;
	width: 8em;
  height: 3em;
  margin-right: 0.5em;
	margin-left: 4.5em;
}
#search-btn:hover {
	background-color: #5865F2;
	cursor: pointer;
}
/* Submenu*/

#submenu, #submenu1 {
	margin-top: .5em;
	position: absolute;
	background: white;
	width: 101%;
	/* visibility: hidden; */
	display: none;
	border-radius: .5em;

}
#submenu div,  {
	display: inline-flex;
	padding: 5px;
}
#submenu1 div{
  display: flex;
  flex-direction: column;
  padding: 1em;
}

#rooms{
  font-size: 16px;
	padding: 10px;
	outline: none !important;
	border: none;
	width: 23em;
	background-color: aliceblue;
}
#navbar-text{
  color: white;
  font-size: 1em;
}
#navbar-text:hover{
  color: #f8f08e;
  font-weight: bolder;
}
#parrafo-gris{
  color: grey;
  font-size: 1.3em;
  font-weight: lighter;
}
